@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
	padding: 61px 11% 0px;
}
button {
	cursor: pointer;
	background-color: transparent;
}
input,
button,
textarea {
	font-family: inherit;
}

.header__container {
	width: 100%;
	font-size: 0;
	margin-bottom: 56px;
}
.header__logo {
	display: inline-block;
	width: 20%;
	text-align: left;
}
.logo {
	font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #10375C;
font-family: 'Lora', serif;
}
.header__menu {
	width: 56%;
	display: inline-block;
	font-size: 0;
}

.menu__list li{
	display: inline-block;
	margin-right: 6%;
}
.menu__list li:last-of-type{
	margin-right: 0px;
}
.menu__link {
	font-weight: bold;
font-size: 16px;
line-height: 28px;
color: #222831;
}
.header__auth {
	display: inline-block;
	width: 24%;
	text-align: right;
}
.header__log-in {
	display: inline-block;
	padding: 12px 24px;
}
.log-in {
	font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #FF5722;
}
.header__sign-up {
	display: inline-block;
	padding: 12px 24px;
	background: #FF5722;
box-shadow: 0px 4px 16px rgba(255, 87, 34, 0.32);
}
.sign-up {
	font-weight: bold;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
.main {
	width: 100%;
}

.intro__header {
	position: relative;
color: #222831;
display: inline-block;
margin-bottom: 8px;
}
.text{
	font-size: 20px;
	line-height: 30px;
}
.intro__header::after{
	content: "";
	position: absolute;
	width: 73px;
height: 2px;
right: -88px;
bottom: 12px;
background: #222831;

}
.intro__body{
	width: 100%;
	font-size: 0;
}
.intro__title {
	width: 60%;
	display: inline-block;
	font-weight: bold;
font-size: 52px;
line-height: 67px;
font-family: 'Lora', serif;
color: #10375C;

}
.intro__title span{
	color: #DD2C00
}
.intro__text {
	width: 40%;
	display: inline-block;
	color: #6A6A6A;
	vertical-align: top;
	padding-left: 61px;
}
.main__container-1 {
	width: 100%;
	font-size: 0;
	margin-top: 50px;
	margin-bottom: 50px;
}

.indicators {
	display: inline-block;
	width: 52%;
	padding-top: 30px;
}
.indicators__block {
	display: inline-block;
	width: 50%;
	margin-bottom: 64px;
}
.indicators__icon {
	vertical-align: top;
	display: inline-block;
	margin-right: 24px;
}
.indicators__icon img{
	
	width: 32px;
	height: 32px;
}
.indicators__num {
	display: inline-block;
	font-size: 32px;
line-height: 41px;
font-family: Lora;
color: #10375C;
vertical-align: top;
}
.indicators__text {
	font-size: 16px;
line-height: 26px;
color: #9A9A9A;
margin-left: 56px;
}


.why {
	display: inline-block;
	width: 48%;
	height: 400px;
	background: #10375C;
	padding: 53px;
	color: #FFFFFF;
}
.why__header {
	position: relative;
	margin-bottom: 8px;
	display: inline-block;
}
.why__header::after{
	content: "";
	position: absolute;
	width: 73px;
height: 2px;
right: -88px;
bottom: 12px;
background: #fff;
}

.why__title {
	
margin-bottom: 24px;
}
.title{
	font-family: Lora;
	font-weight: bold;
	font-size: 40px;
line-height: 51px;
}


.main__container-2 {
	width: 100%;
}
.who-uses__title {
	text-align: center;
	margin-bottom: 24px;
}
.title_blue {
	color: #0D2C4A;
}
.who-uses__text {
	font-size: 18px;
line-height: 28px;
color: #9A9A9A;
text-align: center;
margin-bottom: 56px;
}
.who-uses__list {
	margin: 0 -33px 50px;
	
}
.who-uses__list li{
	display: inline-block;
	margin-right: 60px;
	vertical-align: bottom;
}
.who-uses__list li:last-of-type{
	margin-right: 0px;
	margin-bottom: -12px;

}
.main__container-3 {
	width: 100%;
}
.block {
	width: 32%;
}

.block__body {
	padding: 16px;
}
.block__title {
	font-family: Lora;
font-size: 22px;
line-height: 28px;
color: #222831;
margin-bottom: 4px;
}
.block__author {
	font-size: 16px;
line-height: 26px;
color: #9A9A9A;
}